body {
  font-family: "SUSE Mono";
  margin: 0;
}

/* header stuff here */

header {
  background-color: #791919e0;
  padding: 1rem 10px;
}

header span {
  color: rgb(154, 206, 224);
  font-size: 1.6rem;
  font-weight: 700;
} 

/*  navigation stuff here */
nav {
  background-color:  rgb(154, 206, 224);
}

nav ul {
  margin: 0;
  padding: 0 10px;
  list-style-type: none;
  display: flex;

}

nav a {
  display: block;
  padding: .831rem 1rem;
  text-decoration: none;
  font-size: 1.1rem;
  color: rgb(124, 33, 33);
  font-weight: 700;
}

nav li.active a {
    background-color: rgb(124, 33, 33);
    color: rgb(154, 206, 224);;
}

nav li a:hover {
  color: white;
}
/* main stuff here */
main {
    padding: 1rem 10px;
}
main h1 {
  color: rgb(154, 206, 224); ;
}
main h2 {

    color: rgb(124, 33, 33);
    margin: .2rem;}
main p {
margin: 0;
color: #333;
}
main ol {
  padding: .5rem 30px;
background-color: aliceblue;
}

main dl dt {
color: antiquewhite;
font-size: 700;
margin-top: 1rem;
}

main dl dd {
color: rgb(154, 206, 224);;
font-size: .9rem;
margin-top: 20px;
}
main ul {
  list-style-type: circle;

}
main ul li {
  line-height: 125%;
  margin-bottom: .5rem;
font-size: .9rem;
}
/*gallery stuff*/
div.gallery {
    display: flex;
    flex-wrap: wrap;
column-gap: 10px;
row-gap: 20px;
}
div.gallery figure{
    margin: 0;

}
div.gallery figcaption{
    text-align: center;
    font-size: 8rem;
    color: #296e06;
}